$primary_color: #c72727;
$secondary-color: #f99500;
$light-color: #f3f3f3;
$dark-color:#333;
$max-width: 1100px;
$sports-color:#f99500;
$ent-color:#a66bbe;
$tech-color:#009cff;

@function set-text-color($color){
    @if(lightness($color) > 50){
        @return black;
    }
    @else{
        @return white;
    }

}
@mixin button-color($color){
    background-color:$color;
    color:set-text-color($color);
    &:hover{
        background-color: lighten($color, 45%);
        color:set-text-color(lighten($color, 45%));;
    }
}

@mixin catagory-color($color){
    background-color: $color;
    color: set-text-color($color);
}